################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/GitHubApp/GitHubApp/bin
/GitHubApp/GitHubApp/obj
/GitHubApp/GitHubApp.Android/obj
/GitHubApp/GitHubApp.Android/bin
/GitHubApp/GitHubApp.iOS/obj/iPhone
